<!--Definimos el cuerpo de nuestro Componente Principal-->
<div class="container">
  <hr />
  <hr />
  <hr />
  <!--Menu de Navegacion con Imagen Y Configuracion del RouterLink y RouterActive-->
  <nav>
    <img src="../favicon.ico" alt="" />
    <ul>
      <li routerLinkActive="Active">
        <a routerLink="/Personas">Registro Y Listado De Personas</a>
      </li>
      <li routerLinkActive="Active">
        <a routerLink="/CopyText">Copy Of Text</a>
      </li>
      <li routerLinkActive="Active">
        <a routerLink="/Calculadora">App Calculadora</a>
      </li>
    </ul>
  </nav>
  <hr />
  <hr />
  <hr />
  <!--Definimos la etiqueta Que escucha Las Redirecciones de nuestros componentes Realizadas por medio del rooter-->
  <router-outlet></router-outlet>
  <br /><br />
</div>
<br />
